/week1-005.SecondsOfTheYear/build/
/week1-005.SecondsOfTheYear/nbproject/private/
/week1-006.Addition/build/
/week1-006.Addition/nbproject/private/
/week1-014.PositiveValue/build/
/week1-014.PositiveValue/nbproject/private/
/week2-027.FromOneToHundred/nbproject/private/
/week2-032.TheSumOfSetOfNumbers/build/
/week2-032.TheSumOfSetOfNumbers/nbproject/private/
/week2-036.LoopsEndingRemembering/build/
/week3-045.Greatest/build/
/week3-045.Greatest/nbproject/private/
/week3-049.LastCharacter/build/
/week3-064.AverageOfNumbers/build/
/week3-064.AverageOfNumbers/nbproject/private/
/week3-068.MoreThanOnce/nbproject/private/
/week4-079.NumberStatistics/nbproject/private/
/week4-080.Dice/build/
/week4-080.Dice/nbproject/private/
/week4-083.HangmanLogic/nbproject/private/
/week5-087.ApartmentComparison/build/
/week5-091.ExtendingMyDate/nbproject/private/
/week5-091.ExtendingMyDate/build/
/week6-095.Money/build/
/week6-095.Money/nbproject/private/
/week6-099.ArrayToStars/build/
/week6-099.ArrayToStars/nbproject/private/
/week6-103.Birdwatcher/build/
/week6-103.Birdwatcher/nbproject/private/